body{
    background-color: black;
    color: rgb(229, 233, 236);
}

.icon{
    max-width: 5%;
    float: left;
}

/* .main-content{
    margin-left:50px ;
    box-align: center;
} */

.list{
margin-top: 10px;
}

.list,.paragraph-tags{
    margin-left:50px;
}

h1{
    margin-top: 100px;
    text-decoration: solid;
    font-family:cursive;

}
p{
    max-width: 75%;
    
}


.image{
    max-width: 50%;
 
}
a,ul{
    text-decoration: none;
}

ul li a{
	color: antiquewhite;
}

a{
margin: 20px;
text-decoration: solid;
}

ul{


}

ul li{
    display:inline-block;
   
}

.tags{
margin-top:30px;
margin-bottom: 15px;
}

.book,.follow{
    border-radius: 7px;
    padding: 2%;
    border: blanchedalmond;
    border-style:solid;
    border-width: 1px;
    
    
}

.book{
    color: rgb(3, 3, 3);
    background-color: rgb(255, 245, 245);
}
   

.follow{
   
    color: rgb(237, 239, 241);
    background-color: rgb(0, 0, 0);

}